.user p {
  color: var(--grayViolet);
}
.user  button {
  margin-left: 1rem;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  font-family: var(--fontFamily);
  padding: 2.5px 10px;
  border-radius: 30px;
  color: var(--primaryDark);
  background-color: var(--grayViolet);
  cursor: pointer;
}

@media only screen and (max-width:1300px){
    .user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user button{
      margin: 0;
      order: 0;
    }
    .user p{
      margin: 0;
    }
    .user .link{
      color: var(--primaryLight);
    }
}


