.wrapper {
    width: var(--wrapperWidth);
    margin: 0 auto;
  }

.savedLinksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.savedLinksContainer ul{
    padding: 0;
    margin: 0;
}

.savedLinksContainer ul li{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.short{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 50%;
    color: var(--primaryLight);
}
.normal{
    width: 50%;
}